<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SkanerApp</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: 20px auto;
    }

    table {
      border: 3px solid black;
      text-align: center;
    }

    th {
      border: 2px solid black;
    }

    tr, td {
      border: 2px solid grey;
    }

    .hidden {
      display: none;
    }
  </style>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
</head>
<body>
  <h1>Rekrutacja - SkanerApp</h1>
  <a href="{% url 'website_list' %}">Website List </a> /
  <a href="{% url 'website_list_upload' %}">Website list upload </a> /
  <a href="{% url 'website_form' %}">Create Website </a> /
  <a href="{% url 'website_category_list' %}">Website Category List </a> /
  <a href="{% url 'website_category_form' %}">Create Website Category </a> /
  <hr>

  {% if messages %}
      {% for message in messages %}
        <p style="color: green">{{ message }}</p>
      {% endfor %}
    <hr>
  {% endif %}

  {% block content %}
  {% endblock %}

</body>
</html>